/** Add css rules here for your application. */
html, body {
  height: 100%;
  width: 100%;
}

.listItem{
    width: 100%;
    padding-right: 3px;
}

.serviceItem{
    width: 100%;
    margin-bottom: 3px;
    padding: 2px;
    border: 1px solid #AAA;
    -moz-border-radius: 3px;
    border-radius: 3px
    box-shadow: 2px 2px 2px #CCC;
    -moz-box-shadow: 2px 2px 2px #CCC;
}

.mainPanel{
    width: 96%;
    height: 100%;
    margin-left:2%;
}

.gwt-DecoratorPanel .middleCenter {
   height: 100%;
   width: 100%;
}

.centerPanelDecorator .middleCenterInner, .sidePanelDecorator .middleCenterInner{
    padding: 10px;
    height: 100%;
}

.actionPanel{
    width: 100%;
}

.actionPanel.empty{
    height: 20;
    border: dotted 1px #333;
}
/*
.actionItem{
    margin: 3px;
    width: 100%;
    display: block;

}
*/

.actionItem{
    min-width:400px;
    width: 100%;
}

.actionItem .customHeader{
    text-indent: 5px;
    width: 100%;
    border: 1px solid #AAA;
    -moz-border-radius: 3px;
    border-radius: 3px
    box-shadow: 2px 2px 2px #CCC;
    -moz-box-shadow: 2px 2px 2px #CCC;
    height: 20px;
    margin-bottom: 3px;
}

.actionPanel .customHeader img{
    margin-top: 1px;
    margin-left: 3px;
    float:left;
}

.actionPanel .customHeader .title{
    display:inline;
}

.actionPanel .customHeader .delete{
    float: right;
    margin-right:5px;
}

.actionItem .content{
    width: 97%;
    margin-left: 2%;
    margin-top: 2px;
    clear:both;
    margin-bottom: 5px;
    /*display: none;*/
}

.actionItem .content input[type="text"], .actionItem .content textarea
{
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    padding: 2px;
    border: solid 1px #AAA;
    width: 200px;
}

.actionItem .content .attributeLabel{
    margin-right: 5px;
    width: 100px;
}

.actionItem a.header{
    text-decoration:none;
    color: #000;
}

a:active{
    outline: none;
}

a:focus{
    -moz-outline-style: none;
}

/* COLORS */
.color1 {
    background-color: #b3e2cd;
}
.color2 {
    background-color: #fdcdac;
}
.color3 {
    background-color: #cbd5e8;
}
.color4 {
    background-color: #f4cae4;
}
.color5 {
    background-color: #e6f5c9;
}
.color6 {
    background-color: #fff2ae;
}
.color7 {
    background-color: #f1e2cc;
}
.color8 {
    background-color: #cccccc;
}